[MESSAGES CONTROL]
disable=
  broad-except,
  chained-comparison,
  consider-using-f-string,
  consider-using-with,
  global-statement,
  global-variable-not-assigned,
  inconsistent-return-statements,
  invalid-name,
  invalid-unary-operand-type,
  len-as-condition,
  missing-docstring,
  protected-access,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-function-args,
  too-many-instance-attributes,
  too-many-lines,
  too-many-locals,
  too-many-return-statements,
  too-many-statements,
  unused-argument,
[FORMAT]
max-line-length=139
